*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header{
  min-height: 50px;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.active{
  color: green;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 20%;
  border: 1px solid black;
  background-color: grey;
  color: white;
  
}
.card img{
    width: 200px;     /* larghezza fissa */
  height: 300px;    /* altezza fissa */
  
  border-radius: 10px; /* opzionale */
  text-align: center;
}
.jc-space-between{
  justify-content: space-between;
}
.mt-20{
  margin-top: 20px;
}